@import "../themes/adidoks/sass/main";

$christmas-background: true;

// shamelessly stolen from https://codeforces.org/images/snowflakes-background4.png
@if $christmas-background {
  body:not(.dark) {
    background: url("/cf_background.png") !important;
  }

  body.dark {
    background: url("/cf_background_dark.png") !important;
  }
}
